:root {
  --color: #f7ba8e;
}

#preloader {
  width: 100vw;
  height: 100vh;
  background: rgb(25, 25, 26);
  overflow: hidden;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

#progress {
  width: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.bar {
  color: var(--color);
}