.contact {
    font-family: 'Open Sans', sans-serif;
}

.contact #icon {
    color: white;
}

.contact .contact_info {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.contact #info {
    vertical-align: middle;
    position: relative;
    display: inline-block;
}

.contact p #email, #resume{
    margin: 0px;
    float: left;
    clear: both;
    margin-bottom: 20px;
    margin-top: 10px;
    vertical-align: center;
}

.contact .color {
    color: #286fca;
    display: inline;
    margin: 0px;
}

.contact .subtitle {
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    text-align: center;
}