body {
  font-family: 'Raleway', sans-serif !important;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: fit-content;
  /* position: relative; */
  /* color: white !important; */
}

html {
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  height: fit-content !important;
  scroll-behavior: smooth;
}

:root {
  --color: #f7ba8e;
}

#home h1, #home h3 {
  color: white;
}

.page_section .section_header, .page_section .section_subtitle {
  color: inherit;
}

.ant-layout-content {
  background: rgb(65, 73, 74);
  transition: background-color 0.5s ease;
}

.page_section {
  background-color: transparent;
}

#header {
  background-color: transparent;
  padding: 0px;
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
}

#scrollTop {
  position: fixed;
  z-index: 10;
  bottom: 0px;
  right: 0px;
  margin: 10px;
  background-color: rgba(122, 128, 133, 0.5);
  border: solid 1px var(--color);
  border-radius: 50%;
  color: white;
  outline: none;
  min-width: 50px;
  width: 50px;
  height: 50px;
  padding: 0px;
}
