@-ms-viewport {
  width: device-width;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  min-width: 300px;
}


::-webkit-scrollbar-thumb {
  background: #888;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  min-height: 100%;  
  background-color: rgb(65, 73, 74); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.placeholder {
  width: 100%;
  height: 62px;
  background: transparent;
}

/* .main {
  width: 100%;
} */

.main_content {
  background-color: rgb(65, 73, 74);   
  color: white;
  overflow-x: hidden;
  /* margin: 0px 21px 0px 0px; */
}

.sub_content {
  /* margin: 0px 21px 0px 0px; */
  background: linear-gradient(0deg, rgba(123, 154, 196, 0.762) 4%, rgba(65,73,74,1) 79%);
}

.about, .whatido, .contact, .photos {
  padding: 20px;
}

.main_content h1 {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 730px) {
  .main_content h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 350px) {
  .main_content h1 {
    font-size: 20px;
  }
}

#scrollbar > div:nth-child(1) {
  scroll-behavior: smooth;
}


