

.photos .expandable{
    position: relative;
    max-height: 500px;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, max-height 0.25s ease;   
}

.photos .overlay {
    height: 500px;
    position: absolute;
    left: 0px;
    right: 0px;
    /* background-image: linear-gradient(0deg, rgba(196,196,196,0.5970763305322129) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%); */
    transition: 0.5s ease-in-out 0.25s;
}

.photos .expand_button_container {
    display: flex;
    justify-content: center;
    bottom: 0px;
    transform: translateY(-50%);
}

.photos .expand_button {
    background-color:rgba(97, 97, 97, 0.3);
    outline: none;
    /* border: none; */
    border: 0.5px solid white;
    z-index: 1000;
    animation: bounce 0.75s linear 0s infinite;
}

@keyframes bounce {
    0% {transform: translateY(0px);}
    25% {transform: translateY(-5px);}
    50% {transform: translateY( 0px); }
    75% {transform: translateY( 5px); }
    100% {transform: translateY(0px);}
}