.whatido .table {
    width: 100%;
    display: inline-block;
}

.whatido .row {
    margin: 30px -7.5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.whatido .column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0px 15px;
    width: 30%;
}

.whatido .card {
    box-shadow: 0 6px 8px 0 rgb(104, 109, 110);
    text-align: center;
    /* background-color: #f1f1f1; */
    background-color: white;
    padding: 5px;
    color: black;
    border-radius: 5px;
    height: 100%;  
    word-wrap:break-word;
}


.whatido .row h3, .whatido .row h4, .whatido .row p {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    margin: 0px;
    padding: 10px;
}

.whatido .top, .bottom {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatido .top {
    margin-top: 30px;
    font-size: initial;
    color: black;
    /* color: white; */
}

.whatido .bottom {
    font-size: 40px;
    /* color: #8dbfff; */
    color:#df5e5e;

}

@media screen and (max-width: 1000px) {
    .whatido .row {
        display: inline-block;
        margin: 15px 0px;
        width: 100%;
        justify-content: center;
    }
    
    .whatido .column {
        display: block;
        margin: 15px 0px;
        width: 100%;
    }
}
