.about {
    width: 100%;
    display: inline-block;
}

.about img {
    width: 450px;
    float: left;
    margin-right: 20px;
}

.about h1 {
    margin-top: 0px;
}

.about #description {
    position: relative;
    display: flex;
    /* width: 100%;
    float: left; */
}

.about #description #image {
    /* width: 50%; */
    display: inline-block;
}

.about #text{
    display: inline-block;
    /* width: 50%; */
}

.about ul {
    list-style-type: decimal;
}

.about li {
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1000px) {
    .about #description {
        display: block;
    }

    .about img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}