.about {
    width: 100%;
    display: inline-block;
}

.about img {
    width: 450px;
    float: left;
    margin-right: 20px;
    display: block;
}

.about h1 {
    margin-top: 0px;
}

.about #description {
    position: relative;
    width: 100%;
    float: left;
}

.about ul {
    list-style-type: none;
}

.about li {
    padding: 5px;
}

@media screen and (max-width: 800px) {
    .about #description {
        display: block;
    }

    .about img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}