.contact {
    display: inline-block;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

#icon {
    color: white;
}

.contact_info {
    width: 100%;
    display: inline-block;
    /* text-align: center; */
    text-align: center;
}

#info {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    /* left: 50%; */
}

p #email, #resume{
    margin: 0px;
    float: left;
    clear: both;
    margin-bottom: 20px;
    margin-top: 10px;
    vertical-align: center;
}

.color {
    color: #8dbfff;
    display: inline;
    margin: 0px;
}

/* FontAwesomeIcon {
    vertical-align: bottom;
} */

.subtitle {
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    text-align: center;
}