.contact {
    display: inline-block;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

#icon :hover {
    color: #3e5d86
}

.contact_info {
    width: 100%;
    display: inline-block;
    text-align: center;
}

#contact_info {
    vertical-align: middle;
}

p {
    margin: 15px;
}

#subtitle {
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    display: flex;
}