.home {
    position: relative;
    background-color: rgb(65, 73, 74);
    top: 0px;
}

.home video {
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.4;
}

.home #content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    vertical-align: middle;
}

.home #content h1 {
    font-size: 50px;
    /* font-size: 5.336179295624333vh; */
    font-family: 'Quicksand', sans-serif;
}

.home #content h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

@media screen and (max-width: 730px) {
    .home #content h1 {
        font-size: 25px;
        font-family: 'Quicksand', sans-serif;
    }
    .home #content h3 {
        font-family: 'Quicksand', sans-serif;
        font-size: 15px;
    }
}

@media screen and (max-width: 350px) {
    .home #content h1 {
        font-size: 20px;
        font-family: 'Quicksand', sans-serif;
    }
    .home #content h3 {
        font-family: 'Quicksand', sans-serif;
        font-size: 10px;
    }
}
