html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100%;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NavBar {
  z-index: 1;
  position: relative;
}

.NavBar li {
  float: left;
}

.NavBar li a {
  color: white;
  text-decoration: none; /*takes out underline from href */
  padding: 15px;
  display: block;
  text-align: center;
  width: 75px;
}


.NavBar a:hover {
  border-bottom: 2px solid white;
  color: #b7cfee;
}

.NavBar ul {
  background-color: transparent;
  opacity: 0.5;
  width: 100%;
  list-style-type: none;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
}

.Socials ul {
  background-color: black ;
  list-style-type: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.Socials li a{
  color: white;
  text-decoration: none; /*takes out underline from href */
  padding: 15px;
  width: 75px;
  display: block;
  text-align: center;
}

.Socials li {
  float: left;
}

.Socials li a:hover {
  background-color: #3e5d86 ;
}

.stuff {
  position: absolute;
  display: block;
  background-color: rgb(65, 73, 74);   
  color: white;
}

.stuff2 {
  padding: 20px;
  margin: 0px;
  background: linear-gradient(0deg, rgba(129,158,197,0.76234243697479) 4%, rgba(65,73,74,1) 79%);
}

.stuff h1 {
  font-family: 'Raleway', sans-serif;
}

.about {
  width: inherit;
  height: 450px;
}

.home {
  position: relative;
  background-color: rgb(65, 73, 74);
}

.contact {
  clear: both;
}

.moreaboutme {
  width: 100%;
}

.card {
  box-shadow: 0 4px 6px 0 rgb(104, 109, 110);
  text-align: center;
  background-color: #f1f1f1;
  /* border: 2px solid white; */
  padding: 5px;
  width: 100%;
  display: inline-block;
  position: relative;
  color: black;
  border-radius: 5px;;
}
 
.column {
  position: relative;
  display: inline-block;
  margin: 15px;
  width: 15%;
}

.row {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

#icon :hover {
  color: #3e5d86
}
