html {
  scroll-behavior: smooth;
  min-width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100%;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.placeholder {
  width: 100%;
  height: 62px;
}

.main_content {
  /* display: block; */
  background-color: rgb(65, 73, 74);   
  color: white;
  width: 100%;
}

.sub_content {
  padding: 20px;
  margin: 0px;
  background: linear-gradient(0deg, rgba(129,158,197,0.76234243697479) 4%, rgba(65,73,74,1) 79%);
}

.main_content h1 {
  font-family: 'Raleway', sans-serif;
  justify-content: center;
  display: flex;
}



.moreaboutme p {
  font-family: 'Open Sans', sans-serif;
}

.moreaboutme h3 {
  font-family: 'Raleway', sans-serif;;
}

.moreaboutme h3 span {
  font-size: 25px;
  text-decoration: underline;
}
/* 
#title {
  border: 2px solid white;
  border-radius: 5px;
  display: inline;
  padding: 5px;
} */