body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100%;
  min-height: 100%;
  background-color: rgb(65, 73, 74);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NavBar li {
  float: left;
}

.NavBar li a {
  color: white;
  text-decoration: none; /*takes out underline from href */
  padding: 15px;
  display: block;
  text-align: center;
}

.NavBar li a:hover {
  background-color: cornflowerblue;
}

.NavBar ul {
  background-color: rgb(65, 73, 74);
  list-style-type: none;
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}

.Socials ul {
  background-color: rgb(65, 73, 74);  
  list-style-type: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.Socials li a{
  color: white;
  text-decoration: none; /*takes out underline from href */
  padding: 15px;
  display: block;
  text-align: center;
}

.Socials li {
  float: left;
}

.Socials li a:hover {
  background-color: cornflowerblue;
}

.stuff {
  position: absolute;
  display: block;
  color: white;
}

.stuff h1 {
  font-family: 'Raleway', sans-serif;
  padding: 20px;
  margin: 0px;
}

.about {
  width: inherit;
  height: 450px;
}

.home {
  position: relative;
}

.NavBar {
  z-index: 1;
  position: relative;
}

.contact {
  clear: both;
}

