.whatido .table {
    width: 100%;
    display: inline-block;
}

.whatido .row {
    margin: 15px -7.5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.whatido .column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0px 15px;
    width: 30%;
}

.whatido .card {
    box-shadow: 0 4px 6px 0 rgb(104, 109, 110);
    text-align: center;
    background-color: #f1f1f1;
    padding: 5px;
    width: 100%;
    color: black;
    border-radius: 5px;
    height: 100%;  
    word-wrap:break-word;
}

.whatido .slideshow {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 10px -10px;
}

.whatido #image_container {
    display: inline-block;
    text-align: center;
    height: 100%;
}

.whatido #slides {
    /* max-height: 300px; */
    text-align: center;
}

.whatido .slide {
    margin: 10px;
    display: inline-block;
    text-align: center;
    height: auto;
    max-height: 500px;
    border: 2px solid white;
}

.whatido #left_button, #right_button {
    margin: 15px;
}

.whatido {
    width: 100%;
    display: inline-block;
}

.whatido .row h3, h4, p {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 10px;
}

.whatido h3, h5 {
    font-family: 'Raleway', sans-serif;
    margin: 5px;
}

.whatido h3 span {
    font-size: 25px;
    color: #8dbfff;
}

.whatido #interests {
    /* list-style-type: none; */
    display: inline-block;
    margin: 0px;
}

.whatido #interests li {
    margin-right: 30px;
    float: left;
}
  
.whatido #firstpoint {
    list-style-type: none;
}
@media screen and (max-width: 1000px) {
    .whatido .row {
        display: inline-block;
        margin: 15px 0px;
        width: 100%;
        justify-content: center;
    }
    
    .whatido .column {
        display: block;
        margin: 15px 0px;
        width: 100%;
    }

    .whatido #interests {
        display: block;
    }

    .whatido #interests li{
        float: none;
        margin-right: 0px;
        text-align: left;
    }
    
    .whatido #firstpoint {
        list-style-type: disc;
    }
}