.card {
    box-shadow: 0 4px 6px 0 rgb(104, 109, 110);
    text-align: center;
    background-color: #f1f1f1;
    padding: 5px;
    width: 100%;
    color: black;
    border-radius: 5px;
}

.column {
    display: inline-block;
    margin: 15px;
    width: 20%;
}

.row {
    /* left: 0px; */
    /* position: absolute; */
    margin: 0 -5px;
    /* display: flex; */
    width: 100%;
    display: inline-block;
    text-align: center;
    /* justify-content: center; */
}

.moreaboutme {
    width: 100%;
    display: inline-block;
}

  
.table {
    width: 100%;
    display: inline-block;
}
  
@media screen and (max-width: 800px) {
    .column {
        /* width: 100%; */
        display: inline;
        /* position: relative; */
        margin: 15px;
        /* left: 50%;
        transform: translate(-50%); */
    }

    /* .row {
        display: block;
        text-align: center;
    } */
}